<div style="display: flex; flex-wrap : wrap">
    {% for elm in prod %}
    <div class="ui cards" style="width: 30%;margin: 1px;">
        <div class="card">
            <div class="image">
                {{ img('store/' ~ elm.image ~ '.jpg') }}
            </div>
            <div class="content">
                <div class="header">{{elm.name}}</div>
                {{elm.price}} euros
            </div>

            <div class="ui button">
                <i class="add icon"></i>
                <a href="StoreController/addtocart/{{elm.id}}/{{1}}" > To cart </a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
